SHOPIFY_STORE_URL=
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_OAUTH_CLIENT_ID=
SHOPIFY_OAUTH_CLIENT_SECRET=
SHOPIFY_OAUTH_REDIRECT_URI=http://localhost:3009/auth/callback
SHOPIFY_OAUTH_AUTHORIZATION_URL=http://localhost:3009/auth/start
SHOPIFY_OAUTH_SCOPES=read_products,write_products
GATEWAY_BASE_URL=http://localhost:8080
FB_ACCESS_TOKEN=
FB_PAGE_ID=
IG_ACCESS_TOKEN=
IG_USER_ID=
PORT=3009
